# Environment
.env
.venv/
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Angular / Node
node_modules/
dist/
tmp/
out-tsc/
bazel-out/
.angular/
npm-debug.log
yarn-error.log

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Docker
.docker/
